<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nyp.sit.dit.it2107.movierater">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".AddMovie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ViewMovie"
                android:parentActivityName=".AddMovie">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AddMovie"/>
        </activity>
        <activity
                android:name=".RateMovie"
                android:parentActivityName=".ViewMovie">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ViewMovie"/>
        </activity>
        <activity
                android:name=".MovieRater"
                android:parentActivityName=".AddMovie">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".AddMovie"/>
        </activity>
    </application>

</manifest>